<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary" (click)="seventhModal.open()">أضافة مقدم خدمة</button>
    <br>
    <br>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>الرقم</th>
            <th>الأسم </th>
            <th>الايميل</th>
            <th>التليفون</th>
           
            <th>البلد</th>
            <th>المدينة</th>
            <th>الصورة</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of providers | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.country}}</td>
            <td>{{item.city}}</td>
            <td><img width="100%" height="20%" [src]="show(item.image)"></td>
            <td>
              <span class="label label-info">info</span>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
            autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Per Page</span>
          </div>
        </div>
      </form> -->

  </div>
</div>

<modal #seventhModal >
  <modal-header>
    <h3>أضافة عميل</h3>
  </modal-header>
  <modal-content>
    <form [formGroup]="providerForm" >
    <label class="control-label">الأسم</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Text Input">
    <br>
    <label class="control-label">الايميل</label>
    <input type="text" class="form-control" formControlName="email"  placeholder="Text Input">
    <br>
    <label class="control-label">الباسورد</label>
    <input type="text" class="form-control" formControlName="password"   placeholder="Text Input">
    <br>
    <label class="control-label">التليفون</label>
    <input type="text" class="form-control" formControlName="phone"  placeholder="Text Input">
    <br>
    <div class="form-group">
      <label class="control-label">البلاد</label>
      <select name="select" formControlName="country"  id="select1" class="form-control" (ngModelChange)="onSelecttype($event)">
        <option *ngFor="let countries of country" [value]="countries.name" >{{countries.name}}</option>
        
   
      </select>
     
    </div>
    <br>
    <div class="form-group">
      <label class="control-label">المدن</label>
      <select name="select" formControlName="city"  id="select2" class="form-control">
        <option *ngFor="let cities of city" [value]="cities.name" >{{cities.name}}</option>
      
      </select>
     
    </div>
    <br>
    <div class="form-group">
      <label>الصورة</label><br>
      <label class="image-upload-container btn btn-success btn-xl">
          <div class="uploadPhoto"> <span class="glyphicon glyphicon-upload"></span> &nbsp; Uplaod photo....</div>
          <input type="file" accept="image/*" formControlName="image" #fileupload (change)="fileEvent($event)" style="display: none;">
      </label>
  </div>

  </form>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="addprovider()">حفظ</button>
    <button class="btn btn-danger" (click)="closeModal(seventhModal)">غلق</button>
  </modal-footer>
</modal>